*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    background-color: #F9D08B;
}

/* NAV STYLES */

nav {
    display: flex;
    justify-content: space-between;

    width: auto;
    font-size: 1.75rem;
    padding: 1em;
    background-color: #F9D08B;
}

.logIn {
    font-size: 1.1rem;
    width: 8rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #9B6508;
}

    .logIn:hover {
        cursor: pointer;
        color: black;
        background-color: #FBE0B1;
    }

/* MAIN STYLES  */

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

/* CARD STYLES */

.card {
    height: 20rem;
    aspect-ratio: 2 / 3;
    color: black;
    background-color: white;

    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.bookTitle {
    font-size: 1.3rem;
    position: relative;
    top: 40px;
}

.bookAuthor {
    font-size: 1rem;
    color: grey;
    position: relative;
    top: 60px;
}

.bookPages {
    font-size: 1rem;
    position: relative;
    top: 80px;
}

.bookRead {
    font-size: 1rem;
    position: relative;
    top: 150px;
}

/* FORM STLYES */
.openForm {
    color: white;
    background-color: #9B6508;
    font-size: 50px;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 1em;
    right: 2rem;
}

    .openForm:hover {
        cursor: pointer;
    }

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 2rem;
    border: 3px solid #9B6508;
    z-index: 1;
}

.form-container {
    max-width: 500px;
    height: 30rem;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], 
.form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

fieldset {
    outline: none;
    margin-bottom: 22px;
    padding: 10px;
}

fieldset input {
    padding: 10px;
}

.form-container .btn {
    background-color: #04AA6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.8;
}

.form-container .closeForm {
    background-color: red;
}

.form-container .btn:hover, .openForm .btn:hover {
    opacity: 1;
}
